@font-face {
     font-weight: 300;
     font-family: "Open Sans Light";
     src:
         url("../fonts/opensanslight.woff") format("woff"),
         url("../fonts/opensanslight.woff2") format("woff2");
 }
 
 @font-face {
     font-weight: normal;
     font-family: "Open Sans";
     src:
         url("../fonts/opensans.woff") format("woff"),
         url("../fonts/opensans.woff2") format("woff2");
 }
 
 @font-face {
     font-weight: 800;
     font-family: "Gilroy ExtraBold";
     src:
         url("../fonts/gilroyextrabold.woff") format("woff"),
         url("../fonts/gilroyextrabold.woff2") format("woff2");
 }
 
 @font-face {
     font-weight: 300;
     font-family: "Gilroy Light";
     src:
         url("../fonts/gilroylight.woff") format("woff"),
         url("../fonts/gilroylight.woff2") format("woff2");
 }



body {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #464646;
    line-height: 22px;
    margin: 0;
}

h1.title {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    color: #000000;
    font-size: 47px;
    font-weight: Bold;
    line-height: 53px;
}

h2.title {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    color: #000000;
    font-size: 47px;
    font-weight: Bold;
    line-height: 53px;
}



/*HEADER*/

.main_header {
    display: flex; 
    margin-top: 40px;  
}

.header_container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    background-color: #f7e296;
    margin: auto;
    padding-bottom: 149px;
}



.logo {
    color: #000000;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 58px;
    margin-top: -11px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    width: 180px;
}



/* user_block */

.user_block {
    display: flex;
    flex-direction: row;
    margin-top: 21px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-between;
}

.user_block .search {
    position: relative;
    margin-top: 15px;
}

.user_block .search::before {
    position: absolute;
    left: 3px;
    top: 4px;
    content: "";
    width: 20px;
    height: 20px;
    background: transparent url("../img/sprite.png") no-repeat; 
    background-position: -44px -2px;
}

input.search_row {
    background: transparent;
    border-style: none;
    margin-left: 38px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    opacity: 0.3;
}

input.search_row:hover {
    opacity: 0.6;
}

input.search_row:focus {
    opacity: 1;
    outline: none;
}

input.search_row:focus + .find,
input.search_row:focus + .find::before,
.find:active, 
.find:active::before {
    display: block;
}

.find {
    display: none;
    width: 86px;
    position: absolute;
    left: 357px;
    top: -12px;
    border: 2px solid #000000;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background: transparent;
}

.find::before {
    content: "";
    position: absolute;
    display: none;
    bottom: -2px;
    left: -357px;
    width: 357px;
    height: 2px;
    background-color: #000000;
}

.find:hover {
    background-color: #000000;
    color: #ffffff;
}

.find:active {
    color: #747474;
}

.user_block li {
    position: relative;
}

.user_block li::before {
    position: absolute;
    top: 6px;
    content: "";
    width: 15px;
    height: 15px; 
}

.user_block li:first-child {
    margin-right: 203px;
    width: 70px;
    text-align: right;    
}

.user_block li:first-child::before {
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -3px -3px;
    top: 5px;
    width: 13px;
    height: 12px;
}

.user_block li:nth-child(2) {   
    width: 100px;
    text-align: right;
    margin-right: 30px;
}

.user_block li:nth-child(2)::before {
    background: transparent url("../img/sprite.png") no-repeat;
    width: 10px;
    height: 10px;
    background-position: -25px -25px;
    top: 7px;
    left: 11px;
}

.user_block li:last-child {
    width: 90px;
    text-align: right;      
}

.user_block li:last-child::before {
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -24px -3px;
    width: 12px;
    height: 12px;
    top: 5px;
    left: 8px;
}

.user_block a {
    margin-left: 27px;
}

a {
    text-decoration: none;
    color: #000000;
}

.user_block li,
.main_navigation li,
.navigation_contacts li {
    display: inline-block;
}

.user_block li:hover,
.main_navigation a:hover,
.main_navigation .btn:hover span,
.logo:hover,
.contacts li:hover,
.down > img:hover, 
.hidden_menu a:hover,
.main_navigation a:hover {
    opacity: 0.6;
}


.user_block li:active,
.main_navigation a:active,
.main_navigation .btn:active span,
.logo:active,
.contacts li:active,
.down > img:active, 
.hidden_menu a:active {
    opacity: 0.3;
}




/* main_navigation */

.main_navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 53px;
    margin-right: 58px;
    margin-top: 14px;
    position: relative;
}


.main_navigation li {
    width: 121px;
    text-align: right; 
}

.main_navigation li:nth-child(2) {
    margin-left: 33px;
    margin-right: 98px;
    text-align: left;
}

.main_navigation a,
.main_navigation .btn,
.navigation_contacts a {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;  
    letter-spacing: 3.6px;
}

.main_navigation .btn {
    position: relative;
    border: none;
    background: transparent;    
}

.main_navigation .btn::after {
    position: absolute;
    content: "";
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -2px -22px;
    width: 18px;
    height: 18px;
    left: 237px;
    top: 18px;
    opacity: 0.3;
}

.main_navigation .btn:hover::after {
    opacity: 0.2;
}

.main_navigation .btn:active::after {
    opacity: 0.1;
}

.main_navigation .btn:hover +.hidden_menu,
.hidden_menu:hover {
    display: block;
}

.main_navigation .btn:focus,
.services button:focus,
.price input:focus,
.filtres .btn,
.item button,
.pages button, 
.find:active,
.title .btn,
.filtres .btn button,
.modal_content .close,
.map_hidden .close,
.modal_content .btn {
    outline: none;
}

.hidden_menu {
    display: none;
    height: 141px;
    width: 1100px;
    position: absolute;
    top: 35px;
    left: -53px;
    z-index: 5;
    background-color: #f7e296;
    padding-top: 26px;
    padding-left: 60px;
}

.row {
    line-height: 36px;
    display: flex;
    justify-content: space-between;
}

.first {
    width: 545px;
}

.second {
    width: 330px;
}

.hidden_menu a {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    text-transform: capitalize;
    letter-spacing: 0;
    color: #000;
}



/*MAIN*/

.main_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1160px;
    background-color: #ffffff;
}



/*slider*/

.slider {
    margin-left: 90px;
    margin-right: 60px;
    margin-top: -111px;
    margin-bottom: 84px;
}

.first_slide {
    display: flex;
    flex-direction: row;
}

.second_slide {
    display: none;
    flex-direction: row;
    margin-left: 26px;
}

.third_slide {
    display: none;
    flex-direction: row;
    margin-left: -60px;
}

.third_slide .description {
    margin-left: 32px;
}

.third_slide .number{
    left: 315px;
} 

.third_slide img {
    margin-top: 64px;
}

.third_slide .features {
    width: 320px;
}

.third_slide .description .item {
    margin-right: 30px;
}

.description {
    display: flex;
    flex-direction: column;   
    margin-left: 126px;
    width: 500px;
    position: relative;
}


.slogan {
    font-size: 47px;
    font-weight: bold;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    line-height: 56px;
    color: #000000;
    margin-top: 79px;
    margin-bottom: 5px;
    z-index: 2;
    letter-spacing: 0.8px;
}

.slider .number {
    position: absolute;
    left: 330px;
    top: 65px; 
    color: #ffffff;
    font-size: 179px;
    font-weight: bold;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
}

.slider .above {
    position: absolute;
    top: 37px;
    background-color: #ffffff;
    width: 100px;
    height: 7px;
}

.description .main_desc {
    line-height: 30px;
    margin-top: 13px;
    position: relative;
    font-weight: 500;
}

.description .btn {
    position: absolute;
    top: 284px;
    width: 220px;
    height: 6px;
    background-color: #f0c52e;
    margin-top: 45px;
    text-align: center;
    border: none;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
}

.description a {
    position: absolute;
    top: -8px;
    width: 133px;
    left: 50%;
    margin-left: -66px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif; 
    letter-spacing: 3.5px;
}

.description .btn:hover {
    top: 267px;
    height: 40px;
}

.description .btn:hover a {
    top: 9px;
}

.description .btn:active a,
.description a:active {
    opacity: 0.3;
}

.slides {
    position: absolute;
    top: 313px;
    left: 360px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 77px;
    list-style-type: none;
}

.slides li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #000;
    opacity: 0.3;
}

.slides li:hover {
    opacity: 0.4;
}

.slides li:active,
.slides li.active {
    opacity: 1;
}

.features {
    width: 500px;
    margin-top: 133px;
    display: flex;
    justify-content: space-between;
    color: #000;
}

.description .item { 
    display: inline-block;
    text-align: left;
    margin-right: 72px;
}

.item span {
    font-size: 36px;
    font-family: "Gilroy Light", "Arial", sans-serif;  
}

.item p {
    font-size: 13px;
}


/*CATALOG*/


.navigation_catalog ul{
    background-color: #ffffff; 
    height: 275px; 
    margin-left: -40px;
    display: flex;
    justify-content: space-between;
}

.navigation_catalog li {
    list-style: none;
    width: 160px;
    min-height: 220px;
    vertical-align: top;  
}

.navigation_catalog .photo {
    background-color: #f7e296;
    height: 160px;   
    text-align:  center;
    margin-bottom: 34px;
}

.navigation_catalog li:hover .photo {
    background-color: #f0c52e;
}

.navigation_catalog li:active img,
.navigation_catalog li:active .name_catalog {
    opacity: 0.3;
}

.navigation_catalog span {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2px;
}



/*DELIVERY*/

.services {
    background-color: #e5e5e5;
    height: 288px;
    margin-bottom: 80px;
    margin-top: 132px;
}

.services .main_container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%; 
    margin: auto;
    width: 1160px;
    background-color: inherit;
}

.navigation_service ul {
    width: 277px;
    margin-top: -100px;
    margin-left: -40px;
    border-right: 7px solid #000000;
    padding-top: 85px;
    padding-bottom: 40px;
}

.navigation_service li {
    list-style: none;
	height: 40px;
	margin-bottom: 24px;
    position: relative;
}


.navigation_service span {
    position: absolute;
    top: 11px;
    width: 160px;
    height: 6px;
    background-color: #f0c52e;
    border: none;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
}


.navigation_service button {
    position: absolute;
    top: -9px;
    width: 128px;
    left: 50%;
    margin-left: -64px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    letter-spacing: 3.5px;
    border: none;
    background-color: transparent;
}

.services li:hover span {
    height: 40px;
    position: absolute;
    top: -5px;
}

.services li:hover button {
    top: 7px;
}

.services li:active span,
.services .active span,
.services span:active, 
.services button:active span {
    background-color: #000000;
    width: 278px;
    height: 40px;
    position: absolute;
    top: -5px;
    border: none;
}

.services li:active button,
.services .active button,
.services span:active button,
.services button:active  {
    top: 7px;
    color: #f7e184;
    position: absolute;
    left: 29%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 437px;
    margin-left: 117px;
    margin-top: -68px;
    margin-right: 131px;
}

.info .title {
    letter-spacing: 1px;
}

.info p {
    margin-top: -10px;
    line-height: 30px;
    font-size: 15px;
}

.services img {
    margin-top: -15px; 
    margin-left: -11px;
    float: right;
}

.main_container > .warranty,
.main_container > .credit, 
.main_container > .delivery {
    display: none;
}

.services .active {
    display: flex;
}


/*PARTNERS*/

.partners {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-right: 2px;
    margin-bottom: 93px;
    height: 100px;
}

.partners img {
    filter: grayscale(100%);
    opacity: 0.2;
}

.partners img:hover {
     -ms-filter: grayscale(100%);
    filter: grayscale(0%); 
    opacity: 1;
}



/*ABOUT US/CONTACTS*/

.company {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    min-height: 582px;
}

.above {
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.about_us {
    display: flex;
    flex-direction: column;
    width: 475px; 
    margin-right: 125px;
}

.company .title {
    margin-top: 43px;
    margin-left: -2px;
    letter-spacing: 0.5px;
}
.company p {
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
}

.about_us ul {
    margin-top: 37px;
    margin-left: -5px;
    list-style-type: none;
}

.about_us li {
    font-size: 16px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-weight: bold;
    color: #000000;
    line-height: 40px;
    position: relative;
}

.about_us li::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -35px;;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #000;
    opacity: 0.3;
}

.company .btn {
    position: relative;
    width: 260px;
    height: 6px;
    background-color: #f0c52e;
    margin-top: 55px;
    text-align: center;
    border: none;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
}

.company a {
    position: absolute;
    top: -8px;
    width: 220px;
    left: 50%;
    margin-left: -108px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif; 
    letter-spacing: 3.5px;
    white-space: nowrap;
}

.company .btn:hover {
    height: 40px;
    margin-top: 36px;
}

.company .btn:hover a {
    top: 11px;
}

.company .btn:active a {
    opacity: 0.3;
}

.company_contacts .btn:active .modal_content {
    display: block;
}

.company_contacts {
    display: flex;
    flex-direction: column;
    width: 560px;
}

.map {
    margin-top: 13px;
    margin-bottom: 22px;
    width: 560px;
    height: 222px;
}

.map_border {
    border: 0;
}


/*FOOTER*/

.main_footer {
    display: flex;
    width: 100%; 
    margin-top: 73px;
    background-color: #464646;
    padding-top: 52px;
    padding-bottom: 47px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    background-color: #464646;
    margin: auto;
    width: 1160px;
    justify-content: space-between;   
}

.main_footer .logo {
    color: #ffc600;
    margin-top: 20px;
    margin-left: -1px;
}


.user_footer li {
    position: relative;
    display: inline-block;
    opacity: 0.7;
}

.user_footer li:hover {
    opacity: 1;
}

.user_footer li:active {
    opacity: 0.3;
}

.user_footer li::before {
    position: absolute;
    top: 6px;
    content: "";
    width: 15px;
    height: 15px; 
}

.user_footer li:first-child {
    margin-right: 29px;
    width: 70px;
    text-align: right;    
}

.user_footer li:first-child::before {
    background: transparent url("../img/sprite.png") no-repeat; 
    width: 13px;
    height: 12px;
    background-position: -65px -23px;
    top: 5px;
    left: 0;
}

.user_footer li:nth-child(2) {   
    width: 100px;
    text-align: right;
    margin-right: 37px;
}

.user_footer li:nth-child(2)::before {
    background: transparent url("../img/sprite.png") no-repeat;
    width: 10px;
    height: 10px;
    background-position: -66px -6px;
    top: 7px;
    left: 11px;
}


.user_footer li:last-child::before {
    background: transparent url("../img/sprite.png") no-repeat;
    width: 12px;
    height: 12px;
    background-position: -66px -44px;
    top: 5px;
    left: 0;
}

.user_footer a {
    margin-left: 23px;
}

footer a, 
footer p {
    color: #ffffff;
}

.footer_container .user_footer,
.footer_container .contacts,
.down  {
    display: flex;
    justify-content: space-between;
    height: 55px;  
}

.contacts {
    margin-top: 12px;
}

.contacts ul {
    margin-right: 77px;
}

.contacts li {
    width: 140px;
    text-align: center; 
    margin: 2px;
    margin-left: 6px;
}

.down {
    margin-top: 47px;
}

.down .above {
    background-color: #ffc600;
    margin-top: 16px;
}

.social {
    margin-right: 43px;
}

.social img {
    opacity: 0.3;
    margin-right: 10px;
    margin-left: 2px;
}

.social img:hover {
    opacity: 0.6;
}

.social img:active {
    opacity: 0.1;
}

.social .academy {
    margin-top: 8px;
}



/*WRITE US*/


.modal_content {
    display: none;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -480px;
    z-index: 10;
    width: 760px;
    height: 381px;
    padding: 100px;
    padding-bottom: 80px;
    padding-top: 95px;
    background-color: #ffffff;
}


.shadow {
    display: none;
    position: fixed;
    top: 250px;
    left: 50%;
    margin-left: -480px;
    z-index: 9;
    width: 930px;
    height: 480px;
    box-shadow: 15px 0 80px 0 #000;
}

.modal_content .close,
.map_hidden .close {
    position: absolute;
    right: 23px;
    top: 24px;
    background-color: #f7e296;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: none;
}

.modal_content .close::before,
.modal_content .close::after,
.map_hidden .close::before,
.map_hidden .close::after {
    content: "";
    width: 31px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 12px;
}

.modal_content .close::before,
.map_hidden .close::before {
    transform: rotate(45deg);
}

.modal_content .close::after,
.map_hidden .close::after {
    transform: rotate(-45deg);
}

.modal_content .close:hover,
.map_hidden .close:hover {
    background-color: #f0c52e;
}

.modal_content .close:active::before, 
.modal_content .close:active::after,
.map_hidden .close:active::before,
.map_hidden .close:active::after { 
    opacity: 0.3;
}

.modal_content .name,
.modal_content  .mail{
    width: 322px;
    height: 77px;
    display: inline-block;
    margin-bottom: 40px;
}

.modal_content  .message {
    width: 720px;
    display: inline-block;
}

.modal_content span {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.modal_content input,
.modal_content textarea {
    width: 100%;
    border-style: none;
    padding: 14px 20px;
    margin-top: 10px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #bababa;
    font-family: "Open Sans", "Arial", sans-serif;
}

.modal_content input:hover,
.modal_content textarea:hover {
    background-color: #eaeaea;
}

.modal_content input:focus,
.modal_content textarea:focus {
    outline: 3px solid #f7e296;
    color: #464646;
    background-color: #fff;
}

.modal_content input.error,
.modal_content textarea.error {
    outline: none;
    color: #bababa;
    background-color: #f6dada;
}

.modal_content .mail {
    margin-left: 73px;  
}

.modal_content .btn {
    position: absolute;
    bottom: 90px;
    left: 100px;
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
    margin-top: 45px;
    text-align: center;
    border: none;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
}

.modal_content .btn span  {
    position: absolute;
    top: -7px;
    width: 133px;
    left: 50%;
    margin-left: -66px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif; 
    letter-spacing: 3px;
}


.modal_content .btn:hover {
    bottom: 75px;
    height: 40px;
}

.modal_content .btn:hover span {
    top: 10px;
}

.modal_content .btn:active span {
    opacity: 0.3;
}



/*MODAL MAP*/

.map_hidden {
    display: none;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -480px;
    z-index: 10;
    width: 960px;
    height: 560px;
    box-shadow: 5px 20px 80px -40px #000000;
}

.show_js {
    display: block;
}

/*CATALOG PAGE*/

/*HEADER*/

.catalog .logo {
    margin-top: -9px;
    margin-bottom: -2px;
}

.catalog .header_container {
    padding-bottom: 36px;
}

.catalog .user_block li:first-child {
    margin-right: 16px;
    width: 160px;
    text-align: right;    
}

.catalog .user_block li:nth-child(2) {
    width: 50px;
    text-align: left;
    margin-right: 45px;
    opacity: 0.3;
}

.catalog .user_block li:nth-child(2)::before { 
    width: 0;
}

.catalog .user_block li:nth-child(2) a {
    margin-left: 0;
}

.catalog .user_block li:nth-child(3) {   
    width: 100px;
    text-align: right;
    margin-right: 30px;
}

.catalog .user_block li:nth-child(3)::before {
    background: transparent url("../img/sprite.png") no-repeat;
    width: 10px;
    height: 10px;
    background-position: -25px -25px;
    top: 7px;
    left: 11px;
}



/*breadcrumbs*/

.second_header {
    margin: auto;
    margin-top: 4px;
    margin-bottom: 5px;
    padding-left:  60px;
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: 170px;
    position: relative;
}

.second_header h1 {
    font-size: 47px;
    letter-spacing: 0.5px;
}

.breadcrumbs ul {
    display: flex;
    list-style-type: none;
    position: absolute;
    left: 18px;
    top: 90px;
}

.breadcrumbs li {
    position: relative;
    margin-right: 10px;
    margin-left: 3px;
    padding-right: 18px;
}

.breadcrumbs li a {
    opacity: 0.3;
}

.breadcrumbs li a:hover {
    opacity: 0.6;
}

.breadcrumbs li a:active {
    opacity: 0.1;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;   
    width: 4px;
    height: 7px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -48px -28px;
}

.breadcrumbs li:last-child::after {
    background: none;
}



/*CATALOG*/

.catalog_main {
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #fff;
    position: absolute;

}

.background::before {
    position: absolute;
    content: "";
    z-index: -3;
    height: 70px;
    width: 100%;
    background-color: #ebebeb;
}

.background_left {
    width: 50%;
    height: 100%;
    z-index: -2;
    background-color: #eeeeee;
    position: absolute;
}

.background_left::before {
    position: absolute;
    content: "";
    z-index: -2;
    height: 70px;
    width: 100%;
    background-color: #dbdbdb;
}


.container_catalog {
    width: 1160px;
    margin: auto;
    display: flex;
    z-index: 5;
}

.index_left {  
    width: 28.3%;
    background-color: #eeeeee;  
}

.index_right {  
    width: 71.7%;
    background-color: #ffffff;
}

.index_left .title,
.index_right .title {
    height: 46px;
    background-color: #dbdbdb;
    padding-top: 24px;
    position: relative;
}

.index_right .title {
    background-color: #ebebeb;
}

.container_catalog .title span {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.index_left .title span {
    position: absolute;
    right: 180px;
}

.index_right .title span {
    float: left;
    margin-left: 72px;
    margin-right: 51px;  
}

.title .sort .btn {
    margin-right: 16px;
    font-size: 14px;
}

.title .arrow {
    position: absolute;
    left: 770px;
    bottom: 38px;
    width: 65px;
    height: 10px;
}

.title .arrow .up {
    width: 17px;
    height: 9px;
    margin-right: 20px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -21px -46px;
}

.title .arrow .under {
    width: 17px;
    height: 9px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -21px -46px;
    transform: rotate(180deg);
}

.title .btn {
    border: none;
    background-color: transparent;
    opacity: 0.3;
}


.title .btn:hover {
    opacity: 0.6;
}

.title .btn.active,
.title .btn:active {
    opacity: 1;
}



/*FILTRES*/

.filtres { 
    padding-right: 68px;
    max-width: 202px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    min-height: 710px;
}

.filtres .price {
    padding-top: 82px;
    padding-bottom: 38px;
    margin-right: 3px;
}

.price > span,
.color > span,
.bluetooth > span {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    position: relative;
    padding-bottom: 10px;
}

.price > span::before,
.color > span::before,
.bluetooth > span::before {
    content: "";
    position: absolute;
    top: -13px;
    width: 200px;
    height: 2px;
    background-color: #000000;
}

.price > .indicator::before {
    width: 0;
}

.price input {
    display: none;
}

.indicator {
    position: relative;
}

.indicator .track {
    position: absolute;
    top: 26px;
    background-color: #dbdbdb;
    height: 2px;
    width: 200px;
}

.indicator .track.selected {
    width: 110px;
    background-color: #91c92f;
}

.indicator .thumb {
    position: absolute;
    top: 20px;
    left: -3px;
    width: 10px;
    height: 10px;
    background-color: #eeeeee;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.indicator .thumb.max {
    left: 110px;
}

.indicator .thumb:active {
    background-color: #7eae29;
    border: 2px solid #fff;
    box-shadow: 0 5px 7px -4px #000;
}

.indicator .range {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 0.2;
    position: absolute;
    top: 38px;
    white-space: nowrap;
}

.indicator .range.max {
    left: 90px;
}

.filtres .color,
.filtres .bluetooth,
.filtres .price {
    padding-right: 105px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.check_color {
    margin-top: 17px;
}

.check_color input,
.check_bluetooth input {
    display: none;
}

.check_color .indicator + span,
.check_bluetooth .indicator + span {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    padding-left: 39px;
}

.check_color .indicator {
    position: absolute;
    left: -1px;
    width: 23px;
    height: 23px;
    background-color: #dbdbdb;
}

.check_color .indicator:hover {
    background-color: #cecece;
}

.check_color .indicator:active {
    background: transparent url("../img/tick.png") no-repeat;
    background-color: #c4c4c4;
    background-position: center;
}

.check_color input:checked + .indicator {
    background: transparent url("../img/tick.png") no-repeat;
    background-color: #dbdbdb;
    background-position: center; 
}

.check_color input:checked:hover + .indicator {
    background-color: #cecece;
}

.check_color input:checked:active + .indicator {
    background: #c4c4c4;
}

.check_bluetooth .indicator {
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid #c6c6c6;
}

.check_bluetooth input:checked + .indicator::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 2px solid #000000;
}


.filtres .bluetooth {
    padding-right: 120px; 
    margin-top: -8px;
}

.check_bluetooth {
    margin-top: 18px;
}



.filtres .btn {
    position: absolute;
    left: 0;
    top: 675px;
    width: 200px;
    height: 6px;
    background-color: #f0c52e;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    border-right: none;
}


.filtres .btn button {
    position: absolute;
    top: -8px;
    width: 126px;
    left: 50%;
    margin-left: -63px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    letter-spacing: 3.5px;
    border: none;
}

.filtres .btn:hover {
    height: 40px;
    top: 657px;
}

.filtres .btn:hover button {
    top: 10px;
}

.filtres .btn:active button,
.filtres button:active {
    opacity: 0.3;
}




/*PRODUCTS*/

.products {
    padding-left: 72px;
    padding-top: 69px;
    padding-right: 0;
    max-width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products .item:nth-of-type(2n) img {
    float: right;
}

.products .item {
    position: relative;
}

.products .photo {
    margin-bottom: 120px;   
    position: relative;
}

.new {
    display: none;
    background: transparent url("../img/new.png") no-repeat;
    opacity: 0.1;
    position: absolute;
    width: 60px;
    height: 61px;
    right: 27px;
    top: 29px;
}

.new.active {
    display: block;
}

.item .btn,
.item .compare {
    display: none;
}

.item .btn {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 185px;
    width: 200px;
    height: 6px;
    background-color: #f0c52e;
    border: none;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
}


.item .btn > button {
    position: absolute;
    top: -9px;
    width: 128px;
    left: 50%;
    margin-left: -64px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    letter-spacing: 3px;
    border: none;
    background-color: transparent;
    white-space: nowrap;
}

.item .compare {
    position: absolute;
    left: 50%;
    margin-left: -77px;
    top: 220px;
    width: 155px;
    height: 20px;
    border: none;
    background: transparent;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 13px;
    font-weight: lighter;
    opacity: 0.5;
    white-space: nowrap;
}

.products .photo:hover img {
    opacity: 0.7;
    cursor: pointer;
}

.products .photo:hover .btn,
.products .photo:hover .compare{
    display: block;
    cursor: pointer;
}

.item .compare:hover {
    opacity: 1;
}

.item .compare:active {
    opacity: 0.2;
}

.item .btn:hover {
    top: 168px;
    height: 40px;
}

.item .btn:hover button {
    top: 8px;
}

.item .btn:active button,
.item button:active {
    opacity: 0.3;
}

.products .price {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #464646;
    position: absolute;
    top: 414px;
    right: 0;
}

.products p {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    width: 260px;
    position: absolute;
    top: 395px;
    left: 0;
}

.products .pages {
    background-color: #ebebeb;
    height: 70px;
    width: 760px;
    margin-bottom: 73px;
    margin-top: -9px;
    position: relative;
}

.pages button {
    background-color: transparent;
    border: none;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

.pages > button {
    position: absolute;
    height: 70px;
    width: 126px;
}

.pages > button:last-of-type {
    right: 0;
    padding-right: 14px;
}

.pages > button:first-of-type {
    left: 0; 
}

.pages > button:hover {
    background-color: #d9d9d9;
}

.pages > button:active {
    color: #acacac;
}

.pages .number {
    position: absolute;
    width: 114px;
    top: 26px;
    left: 50%;
    margin-left: -57px;
    display: flex;
    justify-content: space-around;
}

.number button {
    opacity: 0.3;
}

.number button:hover {
    opacity: 0.6;
}

.number button:active,
.number button.active {
    opacity: 1;
}

.main_footer.catalog {
    margin-top: 0;
}

.main_footer.catalog .logo {
    margin-top: 16px;
    margin-left: -3px;
}