body {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-size: 15px;
    color: #464646;
    line-height: 22px;
}

    font-family: 'Gilroy ExtraBold';
    color: #000000;
    font-size: 47px;
    font-weight: Bold;
    line-height: 53px;
}

    font-family: 'Gilroy ExtraBold';
    color: #000000;
    font-size: 47px;
    font-weight: Bold;
    line-height: 53px;
}
